# Created by .ignore support plugin (hsz.mobi)
data/mongodb/*
data/mysql/*
src/coverage
src/node_modules
src/public/css
src/public/js
src/public/fonts
src/public/hot
src/public/storage
src/public/mix-manifest.json
src/storage/*.key
src/vendor
src/.vscode
src/*.sublime-project
src/*.sublime-workspace
src/_ide_helper.php
src/.DS_Store
src/.env
src/.env.backup
src/.idea
src/.php_cs.cache
src/.phpunit.result.cache
src/.phpstorm.meta.php
src/.project
src/composer.phar
src/coverage.xml
src/docker-compose.override.yml
src/error.log
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/output.txt
src/Thumbs.db
src/yarn-error.log
.idea/
